In [25]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import phik

In [26]:
df = pd.read_csv('/Users/pavelbryantsev/Desktop/Python/Courses/Gleb/train (1).csv')

- PassengerId - A unique Id for each passenger. Each Id takes the form gggg_pp where gggg indicates a group the passenger is travelling with and pp is their number within the group. People in a group are often family members, but not always.
- HomePlanet - The planet the passenger departed from, typically their planet of permanent residence.
- CryoSleep - Indicates whether the passenger elected to be put into suspended animation for the duration of the voyage. Passengers in cryosleep are confined to their cabins.
- Cabin - The cabin number where the passenger is staying. Takes the form deck/num/side, where side can be either P for Port or S for Starboard.
- Destination - The planet the passenger will be debarking to.
- Age - The age of the passenger.
- VIP - Whether the passenger has paid for special VIP service during the voyage.
- RoomService, FoodCourt, ShoppingMall, Spa, VRDeck - Amount the passenger has billed at each of the Spaceship Titanic's many luxury amenities.
- Name - The first and last names of the passenger.
- Transported - Whether the passenger was transported to another dimension. This is the target, the column you are trying to predict.

In [4]:
df.head(20)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True
10,0008_02,Europa,True,B/1/P,TRAPPIST-1e,34.0,False,0.0,0.0,NaN,0.0,0.0,Altardr Flatic,True
11,0008_03,Europa,False,B/1/P,55 Cancri e,45.0,False,39.0,7295.0,589.0,110.0,124.0,Wezena Flatic,True
12,0009_01,Mars,False,F/1/P,TRAPPIST-1e,32.0,False,73.0,0.0,1123.0,0.0,113.0,Berers Barne,True
13,0010_01,Earth,False,G/1/S,TRAPPIST-1e,48.0,False,719.0,1.0,65.0,0.0,24.0,Reney Baketton,False
14,0011_01,Earth,False,F/2/P,TRAPPIST-1e,28.0,False,8.0,974.0,12.0,2.0,7.0,Elle Bertsontry,True
15,0012_01,Earth,False,NaN,TRAPPIST-1e,31.0,False,32.0,0.0,876.0,0.0,0.0,Justie Pooles,False
16,0014_01,Mars,False,F/3/P,55 Cancri e,27.0,False,1286.0,122.0,NaN,0.0,0.0,Flats Eccle,False
17,0015_01,Earth,False,F/4/P,55 Cancri e,24.0,False,0.0,1.0,0.0,0.0,637.0,Carry Hughriend,False
18,0016_01,Mars,True,F/5/P,TRAPPIST-1e,45.0,False,0.0,0.0,0.0,0.0,0.0,Alus Upead,True
19,0017_01,Earth,False,G/0/P,TRAPPIST-1e,0.0,False,0.0,0.0,0.0,0.0,0.0,Lyde Brighttt,True

In [27]:
df.phik_matrix()

interval columns not set, guessing: ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

/Users/pavelbryantsev/miniforge3/envs/dscience/lib/python3.10/site-packages/phik/data_quality.py:57: UserWarning: The number of unique values of variable Cabin is large: 6560. Are you sure this is not an interval variable? Analysis for pairs of variables including Cabin can be slow.
  warnings.warn(
/Users/pavelbryantsev/miniforge3/envs/dscience/lib/python3.10/site-packages/phik/data_quality.py:57: UserWarning: The number of unique values of variable Name is large: 8473. Are you sure this is not an interval variable? Analysis for pairs of variables including Name can be slow.
  warnings.warn(
/Users/pavelbryantsev/miniforge3/envs/dscience/lib/python3.10/site-packages/phik/data_quality.py:57: UserWarning: The number of unique values of variable PassengerId is large: 8693. Are you sure this is not an interval variable? Analysis for pairs of variables including PassengerId can be slow.
  warnings.warn(

KeyboardInterrupt:

In [5]:
display(df.info(), df.shape, df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

None

(8693, 14)

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [6]:
missing_val_pct = pd.DataFrame(df.isnull().mean()*100, columns=['pct_missing'])
missing_val_sum = pd.DataFrame(df.isnull().sum(), columns=['sum_missing'])

missing_data = pd.merge(missing_val_pct, missing_val_sum, left_index=True, right_index=True, how='left')
missing_data.sort_values(by='pct_missing', ascending=False)

              pct_missing  sum_missing
CryoSleep        2.496261          217
ShoppingMall     2.392730          208
VIP              2.335212          203
HomePlanet       2.312205          201
Name             2.300702          200
Cabin            2.289198          199
VRDeck           2.162660          188
FoodCourt        2.105142          183
Spa              2.105142          183
Destination      2.093639          182
RoomService      2.082135          181
Age              2.059128          179
PassengerId      0.000000            0
Transported      0.000000            0

In [7]:
df['Transported'].mean()

0.5036236051995858

In [8]:
df.groupby('HomePlanet')['Transported'].agg(['count', 'mean']).sort_values('mean', ascending=False)

            count      mean
HomePlanet
Europa       2131  0.658846
Mars         1759  0.523024
Earth        4602  0.423946

In [9]:
df.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [10]:
df['total_spent'] = df['RoomService'] + df['FoodCourt'] + df['ShoppingMall'] + df['Spa'] + df['VRDeck']

In [11]:
df['spend_category'] = pd.cut(df['total_spent'], 4)

In [12]:
df.groupby('spend_category')['Transported'].agg(['count', 'mean']).sort_values('mean', ascending=False)

                     count      mean
spend_category
(-35.987, 8996.75]    7565  0.508130
(26990.25, 35987.0]     11  0.363636
(8996.75, 17993.5]     178  0.314607
(17993.5, 26990.25]     31  0.258065

In [13]:
used_col = []
for col in df.columns:
    if len(df[col].unique()) < 20:
        used_col.append(col)
        display(df.groupby(col)['Transported'].agg(['count', 'mean']))
        
print(used_col)

            count      mean
HomePlanet
Earth        4602  0.423946
Europa       2131  0.658846
Mars         1759  0.523024

           count      mean
CryoSleep
False       5439  0.328921
True        3037  0.817583

               count      mean
Destination
55 Cancri e     1800  0.610000
PSO J318.5-22    796  0.503769
TRAPPIST-1e     5915  0.471175

       count      mean
VIP
False   8291  0.506332
True     199  0.381910

             count  mean
Transported
False         4315   0.0
True          4378   1.0

                     count      mean
spend_category
(-35.987, 8996.75]    7565  0.508130
(8996.75, 17993.5]     178  0.314607
(17993.5, 26990.25]     31  0.258065
(26990.25, 35987.0]     11  0.363636

['HomePlanet', 'CryoSleep', 'Destination', 'VIP', 'Transported', 'spend_category']

In [14]:
df.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported', 'total_spent', 'spend_category'],
      dtype='object')

In [15]:
df['age_group'] = pd.cut(df['Age'], 4)

In [16]:
df.groupby('age_group')['Transported'].agg(['count', 'mean'])

                 count      mean
age_group
(-0.079, 19.75]   2158  0.588971
(19.75, 39.5]     4497  0.465199
(39.5, 59.25]     1605  0.502181
(59.25, 79.0]      254  0.468504

In [17]:
df['spent'] = np.where(df['total_spent'] == 0, True, False)

In [18]:
df.groupby('spent')['Transported'].agg(['count', 'mean'])

       count      mean
spent
False   5446  0.336577
True    3247  0.783800

In [19]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,total_spent,spend_category,age_group,spent
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0.0,"(-35.987, 8996.75]","(19.75, 39.5]",True
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,736.0,"(-35.987, 8996.75]","(19.75, 39.5]",False
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,10383.0,"(8996.75, 17993.5]","(39.5, 59.25]",False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,5176.0,"(-35.987, 8996.75]","(19.75, 39.5]",False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,1091.0,"(-35.987, 8996.75]","(-0.079, 19.75]",False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,8536.0,"(-35.987, 8996.75]","(39.5, 59.25]",False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,0.0,"(-35.987, 8996.75]","(-0.079, 19.75]",True
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,1873.0,"(-35.987, 8996.75]","(19.75, 39.5]",False
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,4637.0,"(-35.987, 8996.75]","(19.75, 39.5]",False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,4826.0,"(-35.987, 8996.75]","(39.5, 59.25]",False

In [20]:
df['cabin_splitted'] = df['Cabin'].str.split('/')

In [21]:
df['cabin_splitted'].str[0]

0       B
1       F
2       A
3       A
4       F
       ..
8688    A
8689    G
8690    G
8691    E
8692    E
Name: cabin_splitted, Length: 8693, dtype: object

In [23]:
import phik

In [24]:
df.phik_matrix()

interval columns not set, guessing: ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'total_spent']

/Users/pavelbryantsev/miniforge3/envs/dscience/lib/python3.10/site-packages/phik/data_quality.py:57: UserWarning: The number of unique values of variable Cabin is large: 6560. Are you sure this is not an interval variable? Analysis for pairs of variables including Cabin can be slow.
  warnings.warn(
/Users/pavelbryantsev/miniforge3/envs/dscience/lib/python3.10/site-packages/phik/data_quality.py:57: UserWarning: The number of unique values of variable Name is large: 8473. Are you sure this is not an interval variable? Analysis for pairs of variables including Name can be slow.
  warnings.warn(
/Users/pavelbryantsev/miniforge3/envs/dscience/lib/python3.10/site-packages/phik/data_quality.py:57: UserWarning: The number of unique values of variable PassengerId is large: 8693. Are you sure this is not an interval variable? Analysis for pairs of variables including PassengerId can be slow.
  warnings.warn(

TypeError: unhashable type: 'list'